*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    text-transform:capitalize;
}

html{
    scroll-behavior:smooth;
}

:root{
    --first-color:#0e2431;
    --second-color:#6a59d1;
    --third-color:#777;

    --hover-bg-color:#614fd0;
    --card-bg-color:#fff;
    --modal-bg-color:#fff;
    --bg-transparent-color:rgba(0,0,0,0.1);
    --transparent-color-01:rgba(0,0,0,0.1);
    --transparent-color-02:rgba(106,89,209,0.1);
    --line-color:#d7d7d7;

    --color-filter:invert(1);

    --box-shadow:0px 0px 20px rgb(0 0 0/10%);

    --small-font-size:0.9rem;
    --normal-font-size:1rem;

    --scroll-bar-color:#c5cadf;
    --scroll-thumb-color:#70768a;
    --scroll-thumb-hover-color:#454f6b;
}

body{
    color:var(--first-color);
    background:var(--body-bg-color);
    margin:2rem 0 0 0;
    transition:.5s ease;
}

header{
    z-index:1000;
    width:100%;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 14%;
    backdrop-filter:blur(20px);
    transition:.6s ease;
}

.logo span{
    color:var(--first-color);
    font-size:1.3rem;
    font-weight:600;
}

.navbar{
    display:flex;
}

.nav-items{
    display:flex;
}

.nav-items a{
    padding:0 20px;
    transition:ease .6s;
    font-size:var(--normal-font-size);
    color:var(--first-color);
    font-weight:500;
    text-transform:capitalize;
}

.nav-items a:hover{
    background:var(--bg-color);
    color:var(--text-color);
    box-shadow:5px 10px 30px rgb(85 85 85/20%);
    border-radius:5px;
}

.nav-btns{
    display:flex;
    gap:2px;
    margin-top:-8px;
    margin-left:20px;
}

.form-container{
    position:relative;
    max-width:400px;
    background:var(--card-bg-color);
    box-shadow:var(--box-shadow);
    margin:auto;
    margin-top:4%;
    border-radius:10px;
    border-bottom:3px solid var(--second-color);
    overflow:hidden;
}

.form-container .form-box{
    padding:10px 30px;
}

.form-container .form-box{
    display:flex;
    align-items:center;
    height:440px;
    width:200%;
    transition:margin-left 0.18s ease;
}

.form-container .form-box .form-login{
    width:45%;
}

.form-container .form-box .form-signup{
    width:45%;
}

.form-container.active .form-login{
    margin-left:-45%;
    opacity:0;
    transition:margin-left 0.18s ease, opacity 0.15s ease;
}

.form-container .form-signup{
    opacity:0;
    transition:opacity 0.02s ease;
}

.form-container.active .form-signup{
    opacity:1;
    transition:opacity 0.2s ease;
}

.form-container.active .form-box{
    height:550px;
}

.form-box .title{
    font-size:var(--normal-font-size);
    color:var(--first-color);
    font-weight:600;
}

/*
.form-box .title::before{
    content:'';
    position:absolute;
    left:0px;
    bottom:0px;
    height:3px;
    width:30px;
    background:var(--second-color);
    border-radius:25px;
}
*/

.form-box .input-field{
    position:relative;
    height:50px;
    width:100%;
    margin-top:20px;
}

.input-field input{
    position:absolute;
    height:100%;
    width:100%;
    padding:0 35px;
    border:none;
    outline:none;
    border-bottom:2px solid var(--third-color);
}

.input-field i{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    color:var(--third-color);
    font-size:var(--small-font-size);
}

.input-field i.icon{
    left:0;
}

.input-field i.hidepw{
    right:0;
    cursor:pointer;
}

.input-field input:is(:focus,:valid){
    border-bottom-color:var(--second-color);
}

.form-box .checkbox-text{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.checkbox-text .checkbox-content{
    display:flex;
    align-items:center;
}

.checkbox-content input{
    margin:0 8px -2px 4px;
}

.checkbox-content label{
    font-size:var(--small-font-size);
    color:var(--first-color);
    font-weight:600;
}

.form-box a{
    text-decoration:none;
    font-size:var(--small-font-size);
}

.form-box a:hover{
    text-decoration:underline;
}

.form-box .button input{
    border:none;
    color:#fff;
    font-size:var(--normal-font-size);
    font-weight:600;
    letter-spacing:1px;
    border-radius:10px;
    background:var(--second-color);
}

.form-box .button input:hover{
    background:var(--hover-bg-color);
    cursor:pointer;
}

.form-box .login-signup{
    margin-top:30px;
    text-align:center;
}

.form-box .login-signup span{
    font-size:var(--small-font-size);
}



/*HOME*/

.home{
    position:relative;
    max-width:1150px;
    min-height:100vh;
    margin:auto;
    padding:2.5rem 2rem;
    flex-direction:column;
}

.home .home-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.home-container .home-text h1{
    font-size:3.5em;
    font-weight:600;
    line-height:70px;
}

.home-container .home-text p{
    color:var(--third-color);
    font-size:var(--normal-font-size);
    max-width:350px;
    margin-bottom:20px;
}

.btn{
    font-size:var(--normal-font-size);
    color:#fff;
    background:var(--second-color);
    font-weight:500;
    padding:10px 20px;
    border-radius:10px;
    display:inline-block;
    letter-spacing:1px;
}

.home .btn i{
    padding-left:5px;
}

.btn:hover{
    background:var(--hover-bg-color);
    cursor:pointer;
    transition:.3s ease;
}

.search{
    display:flex;
    width:50vw;
    align-items:center;
    justify-content:flex-start;
    border-radius:10px;
    background-color:var(--bg-color);
    box-shadow:var(--box-shadow);
    padding:5px 0;
    margin-top:20px;
    margin:0 auto;
    border-bottom:3px solid var(--second-color);
}

.search .search-item{
    display:flex;
    align-items:center;
    margin-left:10px;
}

.search .search-item p{
    color:var(--third-color);
    border-right:1px solid gray;
    font-size:var(--small-font-size);
    margin-right:10px;
    padding-right:5px;
    margin:10px;
}

.search .search-item input{
    outline:none;
    border:none;
    width:200%;
    padding-left:10px;
    font-size:var(--small-font-size);
    color:var(--third-color);
}

.search .search-item:first-child{
    color:var(--second-color);;
    width:30%;
}

.search .search-item:last-child{
    color:var(--second-color);
    width:70%;
}

.home-img img{
    width:100%;
    height:70vh;
}

/*ROOMS*/

.section-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    width:100%;
}

section{
    position:relative;
    max-width:1100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4rem;
}

section .title{
    font-size:1.5rem;
    margin-bottom:2rem;
}

.rooms-item .item-details p{
    font-size:var(--normal-font-size);
    color:var(--first-color);
    font-weight:600;
}

.rooms-item .item-details{
    text-align:center;
    padding:1rem 0;
}

.rooms-item{
    background:var(--card-bg-color);
    box-shadow:var(--box-shadow);
    border-bottom:3px solid var(--second-color);
    border-radius:10px;
    transition:.3s ease;
    width:290px;
}

.rooms-item img{
    width:100%;
    height:25vh;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border:1px solid #fff;
}

/*PACKAGE*/

.package-frame{
    height:100%;
    position:relative;
    overflow:hidden;
}

.package-container{
    display:flex;
    overflow-x:auto;
    border-radius:10px;
}

.package-container::-webkit-scrollbar{
    width:0;
}

@keyframes slide_animation{
    0%{
        transform:translateX(0);
    }
    20%{
        transform:translateX(-50%);
    }
    40%{
        transform:translateX(-100%);
    }
    60%{
        transform:translateX(-150%);
    }
    80%{
        transform:translateX(-200%);
    }
    100%{
        transform:translateX(0%);
    }


}  


.package-card{
    animation:slide_animation ease 20s infinite;
    position:relative;
    min-width:25%;
    height:40vh;
    margin-right:10px;
    background:var(--card-bg-color);
    box-shadow:var(--box-shadow);
    padding:10px;
    border-radius:10px;
}

.package-img img{
    width:100%;
    height:90%;
    border-radius:5px;
    margin-bottom:20px;
}

.package-img img:hover{
    transform:scale(1.03);
}

.package-content .location{
    padding:0 20px;
}

.package-content h5{
    font-size:var(--normal-font-size);
    color:var(--first-color);
}

.package-content p{
    font-size:var(--small-font-size);
    color:var(--third-color);
}



/*GALLERY*/

.gallery-container{
    display:flex;
    overflow-x:auto;
    border-radius:10px;
    padding:10px;
    background:var(--bg-color);
    box-shadow:var(--box-shadow);
}

.gallery-container::-webkit-scrollbar{
    width:0;
}

.gallery-content{
    position:relative;
    min-width:16vw;
    height:50vh;
    margin-right:10px;
}

.gallery-content img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
    filter:brightness(80%);
    transition:all .3s cubic-bezier(.495,.05,.55,.95);
    will-change:filter;
}

.gallery-content img:hover{
    filter:brightness(100%) hue-rotate(45deg);
    cursor:pointer;
}

.gallery-content h5{
    position:absolute;
    font-size:var(--normal-font-size);
    font-weight:500;
    color:#fff;
    left:15px;
    bottom:40px;
}

.gallery-content p{
    position:absolute;
    font-size:var(--small-font-size);
    color:#fff;
    left:15px;
    bottom:20px;
    letter-spacing:2px;
    text-transform: uppercase;
}

/*FOOTER*/

#contact{
    background:var(--second-color);
}

.footer{
    padding-top:20px;
    margin:0 8%;
}

.list{
    width:25%;
    padding:0 20px;
}

.list h5{
    font-size:var(--normal-font-size);
    color:#fff;
    font-weight:300;
    margin-bottom:30px;
    position:relative;
}

.list h5::before{
    content:"";
    position:absolute;
    height:2px;
    width:60px;
    left:0;
    bottom:-10px;
    background:#ffffffbf;;
}

.list ul li:not(last-child){
    margin-bottom:8px;
}

.list ul li a{
    color:#ffffffbf;
    font-size:var(--small-font-size);
    display:block;
    transition:.3s ease;
}

.list ul li a:hover{
    color:var(--first-color);
    transform:translateX(14px);
}

.list p{
    color:#ffffffbf;
    font-size:var(--small-font-size);
}

.main{
    display:flex;
    flex-wrap:wrap;
}

.social a{
    height:40px;
    width:40px;
    background:var(--card-bg-color);
    color:var(--second-color);
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:21px;
    border-radius:15px;
    transition:.3s ease;
}

.social a:hover{
    transform:scale(1.06);
}

.end-text{
    text-align:center;
    margin-bottom:-40px;
}

.end-text p{
    color:var(--first-color);
    font-size:var(--small-font-size);
    letter-spacing:1.5px;
    margin-top:30px;
    opacity:0.8;
}

/*SERVICE*/
.service-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    width:100%;
}


.service-img{
    width:50%;
}

.service-img img{
    width:100%;
    height:70vh;
}

.service-box{
    width:50%;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(200px,2fr));
    gap:20px;
    margin:0 auto;
}

.service-item{
text-align:center;
background:var(--card-bg-color);
box-shadow:var(--box-shadow);
border-bottom:3px solid var(--second-color);
padding:10px;
margin-top:10px;
border-radius:5px;
transition:.3s ease;
}

.service-item:hover{
    transform:scale(1.03);
}

.service-item i{
    font-size:2rem;
    color:var(--second-color);
}

.service-item h5{
    margin:10px 0;
    color:var(--first-color);
    font-size:var(--normal-font-size);
}

.service-item p{
    color:var(--third-color);
    font-size:var(--small-font-size);
}

@media(max-width:1040px){
    .home{
        padding:1.5rem 2rem;
    }

    .home-container .home-text h1{
        font-size:3rem;
    }

    .nav-items{
        display:none;
    }

    section{
        margin:4rem 6%;
    }

    .rooms-item{
        width:250px;
    }

    .gallery-content{
        min-width:20vw;
    }

    .service-img{
        width:40%;
    }

    .service-box{
        width:60%;
    }

    .social a{
        height:30px;
        width:30px;
        border-radius:10px;
    }

}
@media(max-width:775px){
    .search{
        width:70vw;
    }

    .rooms-item img{
        height:20vh;
    }

    .gallery-content{
        height:40vh;
        min-width:25vw;
    }

    .home{
      min-height:70vh;  
    }

    .package-card{
        height:30vh;
        min-width:35%;
    }

    .package-img img{
        margin-bottom:10px;
    }

    .service-container{
        display:flex;
        flex-direction:column;
    }

    .service-img{
        width:100%;
    }

    .service-box{
        width:100%;
    }

    .list{
        width:50%;
        padding-bottom:20px;
    }
}

@media(max-width:420px){

    .home-img img{
        width:100%;
        height:50vh;
    }

    .list{
        width:100%;
    }
    
    .home .home-container{
        flex-direction:column;
    }

    .gallery-content{
        height:30vh;
        min-width:25vw;
    }

    .rooms-item{
        width:250px;
    }

    .rooms-item img{
        height:14vh;
    }

    .rooms-item .item-details{
        padding:0.2rem 0;
    }

    .package-card{
        height:20vh;
        min-width:35%;
    }

    section{
        margin-bottom:0.8rem;
    }

    section .title{
        font-size:1rem;
        margin-bottom:1rem;
    }

    .service-img img{
        width:100%;
        height:50vh;
    }

    :root{
    --small-font-size:0.7rem;
    --normal-font-size:0.8rem;

    }

    .btn{
    font-weight:400;
    padding:10px;
    }

    .search{
        margin-top:-10px;
        margin-bottom:-10px;
        width:80vw;
        padding:2px 0;
    }

    .home-container .home-text h1{
        line-height:60px;
        margin-bottom:5px;
    }

    .form-container{
        max-width:380px;
    }

}